@media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        gap: 1rem;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: .75rem;
    }

    nav a:hover {
        background-color: #2a3f61;
        border-radius: 5px;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    h1,
    .courses {
        grid-column: 1 / 3;
    }

    #course-container {
        grid-template-columns: repeat(3, 1fr);
    }
}